.first{
      background-color: #e4f5f9;
      position: relative;
      padding-top:100px;
}

h1{
      font-size: 80px;
      margin-top: 0px;
      margin-bottom: 10px;
      font-family: 'Handlee', cursive;
      color: #66BFBF;
      line-height: 2;
}
h2{
      color: #66BFBF;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
}
h3{
      color: #11999E;
      font-family: 'Montserrat', sans-serif;
}
a{
      color: #11999E;
}
body {
      
      margin: 0px;
      font-family: sans-serif;
      text-align: center;
}
/* .middle-container{

}
.bottom-container{

} */
.first-cloud{
      position: absolute;
      right: 25%;
      top: 50px;
}

.second-cloud{
      position: absolute;
      left: 20%;
      bottom: 50%;
}

.mountain{
      position: relative;
      
      width: 50%;
}

.skill-row{
      margin: auto;
      margin-top: 30px;
      margin-bottom: 50px;
      width: 50%;
      text-align: left;
      line-height: 2;
      
}
.pic-1{
      width: 25%;
      margin-right: 30px;
      float: left;
      
}
.pic-2{
      width: 25%;
      float: right;
      margin-left: 20px;
      
}
/* .skill-name{
      position:relative;
      top: 50px;
} */
